

/* Estilo para TODOS los párrafos */
p {
  font-family: Arial, sans-serif;
  color: #333;
}

/* Estilo para la clase "destacado" */
.destacado {
  background-color: #ffffcc;
  padding: 10px;
}

/* se llama la carpeta de esta manera */

@font-face {
  font-family: 'tendang';
  src: url(tendang/Tendang.otf);
}
/* Estilo para el ID "intro" */
#intro {
  font-size: 30px;
  color: #000000;
  font-family: 'tendang';
}